/*CSS da caixinha de notificacoes*/


/*A caixa inteira de notificacao*/

.notificacaoCaixa {
    display: none;
    position: fixed;
    background-color: white;
    height: 25%;
    width: 24%;
    left: 75%;
    top: 70%;
    border: 1px solid rgba(26, 100, 197, 0.849);
    border-radius: 10px;
    overflow: hidden;
}


/*O titulo*/

.notificacaoCaixa .titulo {
    color: rgb(240, 240, 240);
    background-color: rgba(26, 122, 247, 0.74);
    margin-bottom: 0px;
    padding: 5px;
    font-size: 1.0em;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}


/*O conteudo*/

.notificacaoCaixa .caixaTexto {
    height: 100%;
    width: 100%;
    background-color: rgba(26, 100, 197, 0.842);
    overflow-wrap: break-word;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


/* O texto dentro do conteudo*/

.notificacaoCaixa .caixaTexto .aviso {
    color: rgba(255, 255, 255, 0.884);
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 0em;
}

.notificacaoCaixa .erro {
    background-color: rgba(243, 49, 49, 0.63);
}

.notificacaoCaixa .sucesso {
    background-color: rgba(5, 185, 14, 0.753);
}